@import "tailwindcss/preflight";


body {
  background: var(--wope-com-black-russian, #0A0118);
  overflow-x: hidden;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(100px) saturate(180%);
  backdrop-filter: blur(100px) saturate(180%);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: backdrop-filter;
  background: rgba(10, 1, 24, 0.85) !important;
}

.mobile-menu {
  -webkit-backdrop-filter: blur(150px) saturate(180%);
  backdrop-filter: blur(150px) saturate(180%);
  background: rgba(10, 1, 24, 0.15);
  transition: all 0.3s ease;
  transform: translateZ(0);
  will-change: backdrop-filter;
}